<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Realtime Task Queue Report </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <table id="table" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="table_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Total Workers: activate to sort column descending">Total Workers</th>
                                            <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-label="Total Available Workers: activate to sort column ascending">Total Available Workers</th>
                                            <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-label="Longest Task Waiting Age: activate to sort column ascending">Longest Task Waiting Age</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in realtime_data %}
                                            <tr role="row">
                                                <td class="sorting_1">{{ data.total_eligible_workers }}</td>
                                                <td>{{ data.total_available_workers }}</td>
                                                <td>{{ data.longest_task_waiting_age }}</td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                    {#<tfoot>#}
                                    {#    <tr>#}
                                    {#        <th rowspan="1" colspan="1">Total Workers</th>#}
                                    {#        <th rowspan="1" colspan="1">Total Available Workers</th>#}
                                    {#        <th rowspan="1" colspan="1">Longest Task Waiting Age</th>#}
                                    {#    </tr>#}
                                    {#</tfoot>#}
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table id="activitytable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="table_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Activity Name: activate to sort column descending">Activity Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-label="Total Workers: activate to sort column ascending">Total Workers</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, data in realtime_activitystats %}
                                            <tr role="row">
                                                <td class="sorting_1">{{ data.friendly_name }}</td>
                                                <td>{{ data.workers }}</td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                    {#<tfoot>#}
                                    {#    <tr>#}
                                    {#        <th rowspan="1" colspan="1">Activity Name</th>#}
                                    {#        <th rowspan="1" colspan="1">Total Workers</th>#}
                                    {#    </tr>#}
                                    {#</tfoot>#}
                                </table>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                        		<div class="box box-default">
                        			<div class="box-header with-border">
                        				<h3 class="box-title">Task Statistics</h3>
                        				<div class="box-tools pull-right">
                        					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        				</div>
                        			</div>
                        			<div class="box-body with-border">
                        				<div class="row">
                        					<div class="col-md-8">
                        						<div class="chart-responsive">
                        							<canvas id="taskStatsRTChart" style="height: 205px; width: 205px;" height="205" width="205"></canvas>
                        						</div>
                        					</div>
                        					{#<div class="col-md-4">#}
                        					{#	<ul class="chart-legend clearfix">#}
                        					{#		<li><i class="fa fa-circle-o text-red"></i>Pending Tasks</li>#}
                        					{#		<li><i class="fa fa-circle-o text-green"></i>Assigned Tasks</li>#}
                        					{#		<li><i class="fa fa-circle-o text-yellow"></i>Reserved Tasks</li>#}
                        					{#	</ul>#}
                        					{#</div>						#}
                        				</div>
                        			</div>
                        		</div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script type="text/javascript">
 // $(function () {
    $('#table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "scrollX": true
    });
    $('#activitytable').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "scrollX": true
    });
    var response = '{{ realtime_tasks|json_encode() }}';
    //var response = '{"pending":10,"assigned":90,"reserved":50}';
    response = response.replace(/&quot;/g,'"');
    console.log("response is: "+response);
    var jsonObj = $.parseJSON(response);
    
    //var data = response.replace(/&quot;/g,'"');//JSON.parse(response);

    for (key in jsonObj){
        console.log("key is " + [ key ] + ", value is " + jsonObj[key]['value']);
    }
	var ctx = $("#taskStatsRTChart").get(0).getContext('2d');
	var myDoughnutChart = new Chart(ctx).Doughnut(jsonObj);
//  });
 </script>