<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8"/>
         <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
         <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
         <title>{% block title %}CommXCloud{% endblock %}</title>
      
        {#<link rel="stylesheet" href="{{ asset('bundles/commcloudvoice/font-css/font-awesome.min.css') }}">#}
        
        {% block stylesheets %}
        
          {#{% stylesheets #}
          {#  '@CommcloudVoiceBundle/Resources/public/font-css/*'#}
          {# filter="?cssrewrite" %}#}
          {#  <link rel="stylesheet" href="{{ asset_url }}" />#}
          {#{% endstylesheets %}#}
        
          {% stylesheets  
                         '@CommcloudVoiceBundle/Resources/public/css/bootstrap.min.css' 
                         '@CommcloudVoiceBundle/Resources/public/css/*'  filter="cssrewrite"%}
              <link rel="stylesheet" href="{{ asset_url }}" />
          {% endstylesheets %}
        
            <!-- Font Awesome -->
            {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
            <!-- Ionicons -->
            {#<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"/>
       
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body  class="hold-transition skin-blue sidebar-mini" >
         <div id="abc" data-path="{{ path('commcloud_voice_token') }}"></div>
         <div class="modal fade" id="transferModal" role="dialog">
           <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="border-radius:10px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" align="center">User Configuration</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
                <table id="transerWorker" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="transerWorker_info">
                {#<table id="table_1" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="table_info">#}
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="transerWorker" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Login ID: activate to sort column descending" style="width: 180px;">Login ID</th>
                            <th class="sorting" tabindex="0" aria-controls="transerWorker" rowspan="1" colspan="1" aria-label="Display Name: activate to sort column ascending" style="width: 223px;">Display Name</th>
                            <th class="sorting" tabindex="0" aria-controls="transerWorker" rowspan="1" colspan="1" aria-label="Worker SID: activate to sort column ascending" style="width: 223px;">Worker SID</th>
                            {#<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 223px;">Operations</th>#}
                        </tr>
                    </thead>
                    <tbody>
                       
                        {#{% for worker in workers %}#}
                        {#<tr>#}
                        {#    <td>{{worker.wsid}}</td>#}
                        {#    <td>{{worker.wroles}}</td>#}
                        {#    <td>{{worker.wskills}}</td>#}
                        {#    <td><button class="viewEvent animatedbtn btn btn-lg" data-toggle="modal" data-target="#myModal" style="vertical-align:middle" data-uniqueid={{worker|json_encode()}}><span>View</span></button>#}
                        {#{% endfor %}#}
                    </tbody>
                </table>

        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" id="btntransfer" class="btn btn-primary" data-dismiss="modal">Transfer</button>
        </div>
      </div>
      
    </div>
         </div>
        <div class="wrapper">
              <!-- Main Header -->
              <header class="main-header">
        
                <!-- Logo -->
                <a href="/web/app.php/app/content" class="logo">
                  <!-- mini logo for sidebar mini 50x50 pixels -->
                  <span class="logo-mini"><b>C</b>C</span>
                  <!-- logo for regular state and mobile devices -->
                  <span class="logo-lg"><b>CommXCloud</b></span>
                </a>
        
                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                  <!-- Sidebar toggle button-->
                  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                  </a>
                   <div class="navbar-custom-menu">
        		        <ul class="nav navbar-nav">
        		              <li class="user user-menu">
            					            <a href="#" >
            					              <span>{{app.user.wDisplayName}}</span>
            					             </a>
                              </li>
        		            <li class="user user-menu">
                                {#<div class="pull-right" style="z-index: 1000">#}
                                
                                  <!--<a href="logout_action.php" class="btn btn-default btn-flat">Sign out</a>-->
            					            <a href="{{ path('logout') }}" class="" id="signOut" >Sign out</a>
                                {#</div>#}
                              </li>


        			       {# <li class="dropdown user user-menu">#}
        		        {#    <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
        				      {#    <i class="fa fa-user"></i>#}
                  {#        <span class="hidden-xs">#}
        				
        				      {#    </span>#}
                  {#      </a>#}
        			
            			      {#<ul class="dropdown-menu">#}
                              
                     {#   </ul>#}
        			    	  {#</li>#}
        			    	  <li>
                        <a id="side-bar-ctrl" href="#" data-toggle="control-sidebar"><i  class="fa fa-gears"></i></a>
                      </li>
        			      </ul>
        		       </div>
                </nav>
              </header>
              
            {% block sidebar %}
             
            {% endblock %}
            
            {% block content%}
            
            {% endblock %}
           
         
          <div id="dialog" title="Transfer dialog" style="display:none">
              <p>This is Transfer Dialog</p>
          </div>
    <script>
      function display(test) {
          $("#dialog").dialog();
      }
    </script>
         
          <!-- Main Footer -->
          <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
              Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
          </footer>
            
        </div>
       
        {% block javascripts %}
          {#<script src="https://static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>#}
          {# <script type="text/javascript" src="CustomSoftphone.js"></script>#}
          {#<script src="//media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.9/twilio-ip-messaging.min.js"></script>#}
          {#<script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>#}
          {#<script src="https://media.twiliocdn.com/taskrouter/js/v1.1.1/taskrouter.min.js"></script>#}
          {% javascripts  '@CommcloudVoiceBundle/Resources/public/js/jQuery.js' 
                          '@CommcloudVoiceBundle/Resources/public/js/inputmask.js'
                          '@CommcloudVoiceBundle/Resources/public/js/moment.min.js'
                          '@CommcloudVoiceBundle/Resources/public/js/jquery.dataTables.js'
                          '@CommcloudVoiceBundle/Resources/public/js/*'  %}
              <script src="{{ asset_url }}"></script>
          {% endjavascripts %}
          
          
         
        	<script>
        	  	window.workerjsUrl = '{{ asset('bundles/commcloudvoice/testJS/worker.js') }}';
        	  	window.identitypath = '{{ app.user.username }}';
        	  	window.transferurl = '{{ path('transferaction') }}';
        	</script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled-uncompressed/html4+html5/jquery.history.js"></script>#}
        {% endblock %}
        
       
    </body>
</html>
