 {#{% extends 'CommcloudVoiceBundle:Supervisor:base_filter.html.twig' %}#}
{#{% block title %}Call Recording Report{% endblock %}#}
{% block content %}
  
   
   
        {#<div class="box">#}
        	<div class="box-body">
			{#<div class="box-header">#}
				<h3 class="box-title">Call Recording</h3>
				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
						<input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			 <div class="row">
             <div class="col-sm-12">
				{#<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">#}
				{#<table class="table table-hover">#}
				<table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
						<tr>
							<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Call ID: activate to sort column descending" style="width: 180px;">Call Id</th>
							<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 223px;">Date</th>
							<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="From: activate to sort column ascending" style="width: 223px;">From</th>
							<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="To: activate to sort column ascending" style="width: 223px;">To</th>
							<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Duration: activate to sort column ascending" style="width: 223px;">Duration</th>
							<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Play Recording: activate to sort column ascending" style="width: 223px;">Play Recording</th>
						</tr>
						<tbody>
					{% for call in calls %}
						<tr>
							<td>{{ call.call_sid }}</td>
							<td>{{ call.date_created|date('Y-m-d\\TH:i:sP') }}</td>
							
							{{ render(controller('CommcloudVoiceBundle:Agent:getfromtoofcallrecording',
											{ 'call_sid': call.call_sid }
							)) }}
							
							<td>{{ call.duration }}</td>
							<td>
								<audio controls>
									<source src="https://api.twilio.com/{{call.uri}}.mp3" type="audio/mpeg">
								</audio>
							</td>
						</tr>
					{% endfor %}	
					</tbody>
				</table>						
			</div>
			<!-- /.box-body -->		
		</div>
    
{% endblock %}
{% block javascripts%}    
<script type="text/javascript">
//     $('#example1').DataTable({
//       "paging": true,
//       "lengthChange": true,
//       "searching": true,
//       "ordering": true,
//       "info": true,
//       "autoWidth": false,
//       "scrollX": true
//     });
    
     $( document ).ready(function() {
    console.log( "ready!" );
     $("#loadingIMG").css("display", "none"); 
 });
    
 </script>
 {% endblock %}
    